<nb-card *ngIf="!editedAlarm">
  <nb-card-header> Your Alarms </nb-card-header>
  <nb-card-body *ngIf="alarmList?.length">
    <nb-accordion>
      <nb-accordion-item *ngFor="let alarm of alarmList">
        <nb-accordion-item-header class="col-md-12">
          <div class="col-md-6 ng-star-inserted">
            {{ alarm.equity.name }} [{{ alarm.equity.symbol }}]
          </div>
          <div class="col-md-6 ng-star-inserted">
            <ngx-status-card
              [title]="'Alarm is :'"
              [active]="alarm.active"
              [type]="'primary'"
              (onStatusChanged)="onStatusChanged($event, alarm)"
            >
              <i [ngClass]="'nb-power-circled'"></i>
            </ngx-status-card>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Min Treshold</label>
            <div class="col-sm-9">
              <div>{{ alarm.min }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Max Treshold</label>
            <div class="col-sm-9">
              <div>{{ alarm.max }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"
              >Value at subscription
            </label>
            <div class="col-sm-9">
              <div>{{ alarm.value }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Current value </label>
            <div class="col-sm-9">
              <div>{{ alarm.value }}</div>
            </div>
          </div>
          <div class="row col-md-12">
            <button
              class="btn btn-primary"
              type="submit"
              (click)="editAlarm(alarm)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger ml-5"
              type="submit"
              (click)="deleteAlarm(alarm)"
            >
              Delete
            </button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
  <nb-card-body *ngIf="!alarmList?.length && !loading">
    <div>
      You have no alarms set yet. You can go to Create New Section for
      subscribing one
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="editedAlarm">
  <app-alarm-edit
    [equity]="editedAlarm.equity"
    [alarm]="editedAlarm"
    (onClose)="onAlarmEdited($event)"
    *ngIf="editAlarm"
  ></app-alarm-edit>
</nb-card>
