<div>
  <div class="col-md-8 eq-details" *ngIf="alarm">
    <nb-card>
      <nb-card-header> {{ alarm.equity.name }} </nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Symbol</label>
          <div class="col-sm-9">
            <input
              disabled
              class="form-control"
              [(ngModel)]="alarm.equity.symbol"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Region</label>
          <div class="col-sm-9">
            <input
              disabled
              class="form-control"
              [(ngModel)]="alarm.equity.region"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Currency</label>
          <div class="col-sm-9">
            <input
              disabled
              class="form-control"
              [(ngModel)]="alarm.equity.currency"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Market Open</label>
          <div class="col-sm-9">
            <input
              disabled
              class="form-control"
              [(ngModel)]="alarm.equity.marketOpen"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Market Close</label>
          <div class="col-sm-9">
            <input
              disabled
              class="form-control"
              [(ngModel)]="alarm.equity.marketClose"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Timezone</label>
          <div class="col-sm-9">
            <input
              disabled
              class="form-control"
              [(ngModel)]="alarm.equity.timezone"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Value</label>
          <div class="col-sm-9">
            <input disabled class="form-control" [(ngModel)]="alarm.value" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Min Treshold</label>
          <div class="col-sm-9">
            <input
              class="form-control input-danger"
              type="number"
              name="quantity"
              min="0"
              [max]="alarm?.value"
              [(ngModel)]="alarm.min"
              [ngClass]="{ 'input-danger': hasMinError }"
            />
            <label *ngIf="hasMinError" class="qty-error"
              >You must set a value between 0 and {{ alarm?.value }}</label
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Max Treshold</label>
          <div class="col-sm-9">
            <input
              class="form-control"
              type="number"
              [min]="alarm?.value"
              [(ngModel)]="alarm.max"
              [ngClass]="{ 'input-danger': hasMaxError }"
            />
            <label *ngIf="hasMaxError" class="qty-error"
              >You must set a value greater than {{ alarm?.value }}</label
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4">
            <button class="btn btn-success" (click)="onSave()" type="submit">
              Save
            </button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="onCancel()" type="submit">
              Cancel
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
