<div>
  <div class="col-md-8" *ngIf="!selectedEquity">
    <nb-card>
      <nb-card-header> Seach stock </nb-card-header>
      <nb-card-body>
        <nb-search tag="column-curtain" type="column-curtain">
          <button class="start-search" (click)="startSearch()"><i class="nb-search"></i></button>
        </nb-search>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="equities?.length" size="large">
      <nb-list>
        <nb-list-item *ngFor="let equity of equities">
          <div class="equity-container">
            <div class="equity-symbol">
              {{ equity.symbol }}
            </div>
            <div class="eq-content">
              <div class="info-container">
                <div class="equity-name">{{ equity.name }}</div>
                <div class="equity-currency">{{ equity.currency }}</div>
              </div>
              <button class="btn-demo btn-warning btn-subscribe" (click)="subscribeEquity(equity)">
                Subscribe
              </button>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <app-alarm-edit [equity]="selectedEquity" (onClose)="onClose($event)" *ngIf="selectedEquity" ></app-alarm-edit>
</div>
