.equity-container {
  display: flex;
  .equity-symbol {
    min-width: 150px;
    float: left;
    font-size: 19px;
  }
  .equity-name {
    font-size: 1rem;
    line-height: 1.25;
  }
  .equity-currency {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .btn-subscribe {
    background-image: -webkit-gradient(linear, left top, right top, from(#fc0), to(#ffa100));
    background-image: linear-gradient(to right, #fc0, #ffa100);
    -webkit-box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600, 0 4px 10px 0 rgba(33, 7, 77, 0.5);
    box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600, 0 4px 10px 0 rgba(33, 7, 77, 0.5);
    border-radius: 0.5rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    line-height: calc((1rem * 1.25) + 4px);
    color: #fff;
    font-weight: 500;
    font-family: Exo;
    cursor: default;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
  .eq-content {
    display: flex;

    justify-content: space-between;
    width: 100%;
  }
}
