/*!
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

 $grid-columns: 12 !default;
 $grid-gutter-width-base: 24px !default;
 $grid-gutter-widths: (
   xs: $grid-gutter-width-base,
   sm: $grid-gutter-width-base,
   md: $grid-gutter-width-base,
   lg: $grid-gutter-width-base,
   xl: $grid-gutter-width-base
 ) !default;

 $grid-breakpoints: (
   xs: 0,
   is: 400px,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px,
   xxxl: 1600px
 );

 $container-max-widths: (
   is: 380px,
   sm: 540px,
   md: 720px,
   lg: 960px,
   xl: 1140px,
   xxl: 1320px,
   xxxl: 1500px
 );

 @function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
   $min: map-get($breakpoints, $name);
   @return if($min != 0, $min, null);
 }

 @function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
   $n: index($breakpoint-names, $name);
   @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
 }

 @function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
   $next: breakpoint-next($name, $breakpoints);
   @return if($next, breakpoint-min($next, $breakpoints) - 0.02px, null);
 }

 @mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
   $max: breakpoint-max($name, $breakpoints);
   @if $max {
     @media (max-width: $max) {
       @content;
     }
   } @else {
     @content;
   }
 }

 @mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
   $min: breakpoint-min($name, $breakpoints);
   @if $min {
     @media (min-width: $min) {
       @content;
     }
   } @else {
     @content;
   }
 }

 :host {
   $auth-layout-padding: 2.5rem;

   nb-card {
     margin: 0;
     height: calc(100vh - 2 * #{$auth-layout-padding});
   }

   .navigation .link {
     text-decoration: none;

     .icon {
       font-size: 2rem;
     }
   }

   nb-card-body {
     display: flex;
     width: 100%;
   }

   nb-auth-block {
     margin: auto;
   }

   @include media-breakpoint-down(sm) {
     nb-card {
       border-radius: 0;
       height: 100vh;
     }
   }

   /deep/ {
     nb-layout .layout .layout-container .content .columns nb-layout-column {
       padding: $auth-layout-padding;

       @include media-breakpoint-down(sm) {
         padding: 0;
       }
     }
   }
 }

 .title {
   text-align: center;
 }

 .sub-title {
   text-align: center;
   display: block;
   margin-bottom: 3rem;
 }

 .form-control-group.accept-group {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin: 2rem 0;
 }

 .form-control-group {
   margin-bottom: 2rem;
 }

 .another-action {
   margin-top: 2rem;
   text-align: center;
 }

 .container {
   padding-top: 15%;
   display: block;
   width: 100%;
   max-width: 35rem;
 }

 :host nb-card {
   margin: 0;
   height: calc(100vh - 2 * 2.5rem);
 }
 :host .navigation .link {
   text-decoration: none;
 }
 :host .navigation .link .icon {
   font-size: 2rem;
 }
 :host nb-card-body {
   display: flex;
   width: 100%;
 }
 :host nb-auth-block {
   margin: auto;
 }
 @media (max-width: 767.98px) {
   :host nb-card {
     border-radius: 0;
     height: 100vh;
   }
 }
 :host /deep/ nb-layout .layout .layout-container .content .columns nb-layout-column {
   padding: 2.5rem;
 }
 @media (max-width: 767.98px) {
   :host /deep/ nb-layout .layout .layout-container .content .columns nb-layout-column {
     padding: 0;
   }
 }

 @mixin nb-auth-theme() {
   nb-auth .navigation .link .icon {
     font-weight: nb-theme(font-weight-bold);
   }
 }
