<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-auth-block>
          <h1 id="title" class="title">Register</h1>
          <div class="container">
            <form
              (ngSubmit)="register()"
              #form="ngForm"
              aria-labelledby="title"
            >
              <div class="form-control-group">
                <label class="label" for="last-name">Last name:</label>
                <input
                  nbInput
                  [(ngModel)]="user.lastName"
                  #lastName="ngModel"
                  id="last-name"
                  name="lastName"
                  placeholder="Last name"
                  autofocus
                  [required]="true"
                  fullWidth
                />
                <ng-container *ngIf="lastName?.invalid && lastName?.touched">
                  <p class="error-message" *ngIf="lastName?.errors?.required">
                    First name is required!
                  </p>
                </ng-container>
              </div>

              <div class="form-control-group">
                <label class="label" for="first-name">First name:</label>
                <input
                  nbInput
                  [(ngModel)]="user.firstName"
                  #firstName="ngModel"
                  id="first-name"
                  name="firstName"
                  placeholder="First name"
                  [required]="true"
                  autofocus
                  fullWidth
                />
                <ng-container *ngIf="firstName.invalid && firstName.touched">
                  <p class="error-message" *ngIf="firstName.errors?.required">
                    Last name is required!
                  </p>
                </ng-container>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-email">Email address:</label>
                <input
                  nbInput
                  [(ngModel)]="user.email"
                  #email="ngModel"
                  id="input-email"
                  name="email"
                  pattern=".+@.+..+"
                  placeholder="Email address"
                  [required]="true"
                  fullWidth
                  [status]="
                    email.dirty ? (email.invalid ? 'danger' : 'success') : ''
                  "
                  [attr.aria-invalid]="
                    email.invalid && email.touched ? true : null
                  "
                />
                <ng-container *ngIf="email.invalid && email.touched">
                  <p class="error-message" *ngIf="email.errors?.required">
                    Email is required!
                  </p>
                  <p class="error-message" *ngIf="email.errors?.pattern">
                    Email should be the real one!
                  </p>
                </ng-container>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-password">Password:</label>
                <input
                  nbInput
                  [(ngModel)]="user.password"
                  #password="ngModel"
                  type="password"
                  id="input-password"
                  name="password"
                  placeholder="Password"
                  fullWidth
                  [required]="true"
                  [minlength]="6"
                  [status]="
                    password.dirty
                      ? password.invalid
                        ? 'danger'
                        : 'success'
                      : ''
                  "
                  [attr.aria-invalid]="
                    password.invalid && password.touched ? true : null
                  "
                />
                <ng-container *ngIf="password.invalid && password.touched">
                  <p class="error-message" *ngIf="password.errors?.required">
                    Password is required!
                  </p>
                  <p class="error-message" *ngIf="password.errors?.minlength">
                    Password should contain at least 6 characters
                  </p>
                </ng-container>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-re-password"
                  >Repeat password:</label
                >
                <input
                  nbInput
                  [(ngModel)]="user.confirmPassword"
                  #confirmPassword="ngModel"
                  type="password"
                  id="input-re-password"
                  name="rePass"
                  [required]="true"
                  placeholder="Confirm Password"
                  [status]="email.dirty ? (email.invalid || password.value != confirmPassword.value  ? 'danger' : 'success') : ''"
                  fullWidth
                />
                <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
                  <p class="error-message" *ngIf="confirmPassword.errors?.required">
                    Password confirmation is required!
                  </p>
                  <p
                    class="error-message"
                    *ngIf="password.value &&
                      password.value != confirmPassword.value && !confirmPassword.errors?.required
                    "
                  >
                    Password does not match the confirm password.
                  </p>
                </ng-container>
              </div>

              <button
                nbButton
                fullWidth
                status="success"
                [class.btn-pulse]="submitted"
                [disabled]="submitted || !form.valid || password.value != confirmPassword.value"
              >
                Register
              </button>
              <!-- [disabled]="submitted || !form.valid" -->
            </form>

            <section class="another-action" aria-label="Sign in">
              Already have an account?
              <a class="text-link" routerLink="../login">Log in</a>
            </section>
          </div>
        </nb-auth-block></nb-card-body
      ></nb-card
    ></nb-layout-column
  ></nb-layout
>
