@import './@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  /*
  * TODO: hot fix, in prod mode popover arrow has wong style.
  * Delete this after weill be fixed https://github.com/akveo/nebular/issues/1006
  */
  $popover-border-width: calc(#{nb-theme(popover-arrow-size)} - 2px);

  /deep/ nb-popover,
  /deep/ nb-datepicker-container {
    .arrow {
      &::after {
        border-left-width: $popover-border-width;
        border-right-width: $popover-border-width;
        border-bottom-width: $popover-border-width;
      }
    }
  }
}
nb-card {
  height: 100%;
  nb-card-body {
    .sub-title {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
}
